<head>
	
</head>
<body>
	<h1>Bienvenue sur The Gossip Project !!</h1>
	<p>Voici le dernier potin: </p>
	<p>Cree le <%=Potin.last.created_at%></p>
	<p>titre :</p><br>
	<%=Potin.last.title%><br>
	<p>Contenu:</p>
	<%=Potin.last.content%>
	<br><p>pour en voir plus connecte toi ci-dessous.</p>
	
	<form action="/" method="post">
		<input type="hidden" name="authenticity_token" 
		value="<%= form_authenticity_token %>"/>
		<p>Prénom</p><br>
		<input type="text" name="first_name"/>
		<p>Nom</p><br>
		<input type="text" name="last_name"/>
		<br><input type="button" value="valider" onclick="location.href='/<%=params["first_name"]%>'"/>
	</form>

</body>

<footer>
	<a href="/team">L'équipe</a>
	<a href="/contacter">Contact</a>
</footer>
